body {
  background-color: #121212;
}

h1 {
  color: #fcf7fc;
}

.btn-primary {
  background-color: #BF40BF;
  outline-color: #BF40BF;
  border-color: #BF40BF;
  color: #fcf7fc;
  --bs-btn-hover-color: #fcf7fc;
  --bs-btn-hover-bg: #a133a1;
  --bs-btn-hover-border-color: #a133a1;
}

.form-control {
  background-color: #302130;
  border-color: #302130;
  color: #fcf7fc;
}

.form-control:disabled {
  background-color: #302130;
  border-color: #302130;
  color: #fcf7fc;
}

.form-control::placeholder {
  color: #bdb5bd;
}

.custom-file-upload .btn-upload {
  background-color: #BF40BF;
  color: #fcf7fc;
  padding: .375rem .75rem;
  border-radius: .25rem;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: background-color 0.2s ease;
}

.custom-file-upload .btn-upload:hover {
  background-color: #A030A0;
  color: #fcf7fc;
}
