body {
  background-color: #121212;
}

h1 {
  color: #fcf7fc;
}

.btn-primary {
  background-color: #BF40BF;
  outline-color: #BF40BF;
  border-color: #BF40BF;
  color: #fcf7fc;
  --bs-btn-hover-color: #fcf7fc;
  --bs-btn-hover-bg: #a133a1;
  --bs-btn-hover-border-color: #a133a1;
}

.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #BF40BF !important;
  color: #fcf7fc !important;
  border-color: #7a2f7a !important;
  box-shadow: inset 0 1px 1px #202020, 0 0 8px #573557 !important;
}

.btn-primary:focus {
  background-color: #a133a1;
  border-color: #7a2f7a;
  box-shadow: inset 0 1px 1px #202020, 0 0 8px #573557;
}

.form-control {
  background-color: #302130;
  border-color: #302130;
  color: #fcf7fc;
}

.form-control:disabled {
  background-color: #302130;
  border-color: #302130;
  color: #fcf7fc;
}

.form-control::placeholder {
  color: #bdb5bd;
}

.form-control:focus {
  background-color: #573557;
  color: #fcf7fc;
  outline: 2px solid #121212;
  border-color: #7a2f7a;
  box-shadow: inset 0 1px 1px #202020, 0 0 8px #573557;
}

.custom-file-upload .btn-upload {
  background-color: #BF40BF;
  color: #fcf7fc;
  padding: .375rem .75rem;
  border-radius: .25rem;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: background-color 0.2s ease;
}

.custom-file-upload .btn-upload:hover {
  background-color: #A030A0;
  color: #fcf7fc;
}

.custom-file-upload .btn-upload:focus {
  border-color: #7a2f7a;
  box-shadow: inset 0 1px 1px #202020, 0 0 8px #573557;
}

.custom-file-upload .btn-upload:active {
  border-color: #7a2f7a;
  box-shadow: inset 0 1px 1px #202020, 0 0 8px #573557;
}

.input-area {
  margin-top: 3%;
}

.list-group-item {
  background-color: #121212;
  color: #fcf7fc;
  font-size: 150%;
}

.card {
  background-color: #121212;
  color: #fcf7fc;
}
