.title-h1 {
  padding-top: 3%;
  text-align: center;
}

.txt {
  color: #fcf7fc;
  font-size: 20px;
}

.card {
  background-color: #121212;
  color: #fcf7fc;
}

.spacer {
  margin-bottom: 50px;
}

.txt-indicator {
  color: #bf5abf;
  font-size: 24px;
}
