<div class="col-12 txt">
  <h1 class="display-4">Previous Results</h1>
</div>

<div class="card mt-2" *ngFor="let result of results">
  <div class="card-body d-flex justify-content-between" routerLink="/results/{{result.resultId}}">
    <div>Artist: {{formatName(result.artist)}}</div>
    <div class="title">Title: {{result.artworkTitle}}</div>
    <div class="neural-net">Neural Net Rating: {{splitRating(result.neuralNetResult)}}</div>
    <div class="gpt-result">GPT-4 Rating: {{extractRating('Authenticity Rating: ', result.gptResult)}}</div>
  </div>
</div>

